
.main_content_box label{
    font-size: 13px;
    padding: 10px 0px 5px 0px;
}

.button_container{
    display: flex;
    height:50px;
    justify-content:center;
    align-items: center;
    gap:10px;
}

/* From Uiverse.io by MUJTABA201566 */ 
.lock-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
    text-decoration: none !important;
  }
  
  .lock-svgIcon {
    width: 17px;
    transition-duration: 0.3s;
  }
  
  .lock-svgIcon path {
    fill: white;
  }
  
  .lock-button:hover {
    width: 120px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: rgb(255, 69, 69);
    align-items: center;
  }
  
  .lock-button:hover .lock-svgIcon {
    width: 20px;
    transition-duration: 0.3s;
    transform: translateY(60%);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  
  .lock-button::before {
    display: none;
    content: "change Password";
    color: white;
    transition-duration: 0.3s;
    font-size: 2px;
  }
  
  .lock-button:hover::before {
    display: block;
    padding-right: 10px;
    font-size: 13px;
    opacity: 1;
    transform: translateY(0px);
    transition-duration: 0.3s;
  }
  