.main_dashboard_container{
    max-height: 95vh;
    height: 95vh;
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    gap:10px;
    background-color: rgb(182, 172, 172);
    margin: 10px;
    padding: 15px 30px 15px 30px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    /* overflow-x: hidden; */
}
.dashboard_main_container{
display: flex;
height: 100%;
overflow: hidden;
gap:10px
}
.dashboard_container{
    /* background-color: red; */
    min-width:75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap:10px
}
.dashboard_profile_container{
    background-color: #f8f8ff;
    min-width:25%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.4) 
    0px 2px 4px, rgba(0, 0, 0, 0.3) 
    0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 
    0px -3px 0px inset;
}
.dashboard_upper_container{
    /* background-color: blue; */
    width: 100%;
    height: 30%;
    display: flex;
    gap:10px
}

.dashboard_lower_container{
    /* background-color: green; */
    width: 100%;
    height: 70%;
    display: flex;
    gap:10px

}

.dashboard_generate_url{
    background-color: white;
    width: 70%;
    height: 100%;
    padding-left: 50px;
    box-shadow: rgba(0, 0, 0, 0.4) 
    0px 2px 4px, rgba(0, 0, 0, 0.3) 
    0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 
    0px -3px 0px inset;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dashboard_gen_title{
    font-size: 1.125em;
    letter-spacing: 0.2em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: fit-content;
    height: fit-content;

}
.dashboard_gen_input_field{
    /* background-color: #a1c4fd; */

}

.dashboard_pending{
    background-color: black;
    color: white;
    width: 30%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.4) 
    0px 2px 4px, rgba(0, 0, 0, 0.3) 
    0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 
    0px -3px 0px inset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dashboard_url_analytics{
    background-color: red;
    width: 0%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.4) 
    0px 2px 4px, rgba(0, 0, 0, 0.3) 
    0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 
    0px -3px 0px inset;
}

.dashboard_show_urls{
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.4) 
    0px 2px 4px, rgba(0, 0, 0, 0.3) 
    0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 
    0px -3px 0px inset;
}

.dashboard_list_of_all_created_url{
    /* background-color: red; */
    flex:1;
    overflow-y: auto;
}


/* From Uiverse.io by abrahamcalsin */ 
.dashboard_generate_url button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #183153;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    border: none;
  }
  
  .dashboard_generate_url  button:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #ffd401;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
  }
  
  .dashboard_generate_url button:hover::after {
    right: auto;
    left: 0;
    width: 100%;
  }
  
  .dashboard_generate_url button span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 18px 25px;
    color: #fff;
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 0.3em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
  }
  
  .dashboard_generate_url button:hover span {
    color: #183153;
    animation: scaleUp 0.3s ease-in-out;
  }
  
  @keyframes scaleUp {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(0.95);
    }
  
    100% {
      transform: scale(1);
    }
  }

  .signature{
    margin:0;
    overflow: visible;
  }
  
/* .generate_url_box{
    display: flex;
    flex-direction: column;
    gap:5px;
}

.list_of_all_created_url{
    width:90vw;
    height:50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:5px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

label{
    font-size: 20px;
}
table{
    text-align: center;
}

td{
    max-width: 150px;
}

.redirectURL_container{
    
    overflow:hidden;
    text-overflow: ellipsis;
}

 .navbar{
    width:100%;
    display: flex;
    justify-content: start;
    margin-left : 20%;
 }
 .navbar:hover{
    cursor: pointer;
 } */


 h2{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
  }
  table{
    width:100%;
    table-layout:fixed;
  }
  .tbl-header{
    background-color: rgba(255,255,255,0.3);
   }
  .tbl-content{
    height:300px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgb(240, 9, 9);
  }
  th{
    padding: 20px 15px;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    /* width: fit-content; */
    text-wrap: nowrap;
  }
  td{
    padding: 15px;
    text-align: center;
    vertical-align:middle;
    font-weight: 300;
    font-size: 15px;
    color: #fff;
    border-bottom: solid 1px rgba(255,255,255,0.1);
    overflow-x: hidden;
    text-overflow: ellipsis;
  }

.dashboard_redirectURL_container{
    max-width: 250px;
    width: 250px;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
  
  /*  */

  
  