
.main_home_container {
  min-height: fit-content;
  min-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(182, 172, 172);
  margin: 10px;
  padding: 15px 30px 15px 30px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.navbar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.title_name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.title_name p {
  color: black;
  font-size: 30px;
  font-family: "Cascadia Code", Consolas, Monaco, "Andale Mono", "Ubuntu Mono",
    monospace;
}

.bubble-left {
  --size: 50px;
  position: relative;
  width: var(--size);
  height: calc(var(--size) * 0.66);
  background: #333333a1;
  border-radius: 2px;
  padding: 8px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 13px;
  width: fit-content;
  height: fit-content;
  margin-top: 20px;
}

.bubble-left:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: calc(var(--size) * 0.13) solid transparent;
  border-right-color: #333333a1;
  border-left: 0;
  margin-top: calc(var(--size) * 0.13 * -1);
  margin-left: calc(var(--size) * 0.13 * -1);
}

.navbar_options {
  display: flex;
  gap: 20px;
}
.navbar_options p {
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
}



/*  */

.login_btn {
  background-color: #000;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue",;
  font-size: 15px;
  font-weight: 400;
  width: 100px;
  height: 35px;
  text-align: center;
  text-wrap: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*  */

.login_btn:focus {
  text-decoration: none;
}

.login_btn:hover {
  text-decoration: none;
}

.login_btn:active {
  box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
  outline: 0;
}

.login_btn:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .login_btn {
    padding: 12px 50px;
  }
}

/*  */

.body_container {
    /* background-color: red; */
  display: flex;
  justify-content: space-between;
  padding:20px;
}

.description_container {
    /* background-color: green; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-end;
  width: fit-content;
  gap: 20px;
}

.welcome_container {
  margin-top: 30%;
  background: #f8f8ff;
  max-width: 400px;
  min-width: 300px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px 15px 5px 15px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  padding: 15px;
}

.main_heading {
  color: black;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
}

.welcome_container .description {
  padding: 10px 10px 0px 10px;
  font-size: 14px;
  color: rgb(81, 80, 80);
  font-family: monospace;
}

.join_btn {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 40px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 15px;
}

.join_btn:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.join_btn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.join:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.image_container {
  /* background-color: yellow; */
  /* padding-bottom: 100px; */
  max-height: 400px;
  max-width: 600px;
  min-height: 300px;
  min-width: 300px;
  width: 500px;
  background-image: url("../assets/illustrations/image1.png");
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}

.tag_line_container {
  /* background-color: red; */
  width: 100%;
  padding-top: 20px;
}

.bottom_line {
    /* background-color: yellow; */
  font-size: 14px;
  font-family: fantasy;
}

.main_key_features_container {
    /* background-color: red; */
    box-sizing: border-box;
    min-height:max-content;
    margin:10px;
}
.title_key_features {
  display: flex;
  justify-content: center;
  align-items: start;
  font-family: "Dancing Script", cursive;
  font-size: 35px;
  padding-bottom: 10px;
  /* margin-bottom: 20px; */
}
.key_features_container {
  display: grid;
  grid-template-columns:repeat(auto-fill, minmax(200px,1fr)) ;
  row-gap: 20px;
  column-gap: 20px;
}

.auth_icon {
  background-image: url("../assets/icons/authentication.png");
  background-size: cover;
  height: 30px;
  min-width: 30px;
}

.short_icon {
  background-image: url("../assets/icons/link.png");
  background-size: cover;
  height: 30px;
  min-width: 30px;
}

.storage_icon {
  background-image: url("../assets/icons/file.png");
  background-size: cover;
  height: 30px;
  min-width: 30px;
}

.management_icon {
  background-image: url("../assets/icons/project-management.png");
  background-size: cover;
  height: 30px;
  min-width: 30px;
}

.redirect_icon {
  background-image: url("../assets/icons/302.png");
  background-size: cover;
  height: 30px;
  min-width: 30px;
}

.analytics_icon {
  background-image: url("../assets/icons/time.png");
  background-size: cover;
  height: 30px;
  min-width: 30px;
}

.simple_api_icon {
  background-image: url("../assets/icons/simpleApi.png");
  background-size: cover;
  height: 35px;
  min-width: 35px;
}

.blank_space {
  width: 400px;
}

.feature_name {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
/* css btn 57 */
.feature_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: start;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  font-family: "JetBrains Mono", monospace;
  height: 54px;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding: 10px;
  user-select: none;
  font-size: 15px;
  font-weight: 510;
  transition: height 1s ease-out, width 1s ease, box-shadow 0.15s,
    opacity 0.3s ease;
    z-index: 1;
}

.feature_container p {
  opacity: 0;
  font-size: 12px;
  font-weight: 100;
  color: rgb(105, 102, 102);
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  font-family: monospace;
}

.feature_container:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.feature_container:hover p {
  opacity: 1;
}
.feature_container:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  height: 95px;
  box-sizing: border-box;
}



.signature{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    overflow: hidden;
    font-size: 10px;
    font-family: monospace;
    color:rgb(96, 92, 92);
    z-index: 0;
}

@media only screen and (max-width: 700px){
  .body_container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}