
.main_login_container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(182, 172, 172);
  margin: 10px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
.login_sigup_box {
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:10px;
}


.full_left_box{
display: flex;
flex-direction: column;
}

.image_box1{
    min-height:300px;
    min-width: fit-content;
    background-image: url("../assets/illustrations/loginPage2.png");
    background-size:contain;
    background-repeat: no-repeat;
}
/* login box */

.login_box {
  display: flex;
  flex-direction: column;
  background: #f8f8ff;
  max-width: 400px;
  min-width: 300px;
  border-radius: 5px 15px 5px 15px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  padding: 20px;

}

.heading {

}
.sub_heading {
  padding: 10px 10px 0px 10px;
  font-size: 17px;
  color: rgb(81, 80, 80);
  font-family: monospace;
  display: flex;
  flex-direction: row-reverse;
}
.input_field {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px;
}

/* input box exp */

/* From Uiverse.io by Galahhad */ 
.input {
  max-width: 190px;
  padding: 12px;
  border: none;
  border-radius: 4px;
  background-color: black;
  box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
  outline: none;
  color: white;
  min-width:90%;
  margin:0px 0px 20px 0px;
  font-size: 14px;
  animation: none !important;
}



/* input box exp */


.login_btnn{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 40px;
    overflow: visible;
}
/* login btn */
.login_btnn button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  .login_btnn button:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  .login_btnn button:active {
    transform: translateY(-1px);
  }
  /* login btnn */

/* sigup box */


.signup_box{
    display: flex;
    flex-direction: column;
}
/* sign btn */

/* From Uiverse.io by Galahhad */ 
.ui-btn {
    --btn-default-bg: rgb(41, 41, 41);
    --btn-padding: 15px 20px;
    --btn-hover-bg: rgb(51, 51, 51);
    --btn-transition: .3s;
    --btn-letter-spacing: .1rem;
    --btn-animation-duration: 1.2s;
    --btn-shadow-color: rgba(0, 0, 0, 0.137);
    --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
    --hover-btn-color: #FAC921;
    --default-btn-color: #fff;
    --font-size: 16px;
    /* 👆 this field should not be empty */
    --font-weight: 600;
    --font-family: Menlo,Roboto Mono,monospace;
    /* 👆 this field should not be empty */
  }
  
  /* button settings 👆 */
  
  .ui-btn {
    box-sizing: border-box;
    padding: var(--btn-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px 0px 30px;
    gap:10px;
    color: var(--default-btn-color);
    font: var(--font-weight) var(--font-size) var(--font-family);
    background: var(--btn-default-bg);
    border: 10px 10px 10px 10px;
    border-radius: 10px 0px 10px 0px;
    cursor: pointer;
    transition: var(--btn-transition);
    overflow: hidden;
    box-shadow: var(--btn-shadow);
    width:90%;
    text-wrap: nowrap;

  }
  
  .ui-btn span {
    letter-spacing: var(--btn-letter-spacing);
    transition: var(--btn-transition);
    box-sizing: border-box;
    position: relative;
    background: inherit;
  }
  
  .ui-btn span::before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    background: inherit;
  }
  
  .ui-btn:hover, .ui-btn:focus {
    background: var(--btn-hover-bg);
  }
  
  .ui-btn:hover span, .ui-btn:focus span {
    color: var(--hover-btn-color);
  }
  
  .ui-btn:hover span::before, .ui-btn:focus span::before {
    animation: chitchat linear both var(--btn-animation-duration);
  }
  
  @keyframes chitchat {
    0% {
      content: "#";
    }
  
    5% {
      content: ".";
    }
  
    10% {
      content: "^{";
    }
  
    15% {
      content: "-!";
    }
  
    20% {
      content: "#$_";
    }
  
    25% {
      content: "№:0";
    }
  
    30% {
      content: "#{+.";
    }
  
    35% {
      content: "@}-?";
    }
  
    40% {
      content: "?{4@%";
    }
  
    45% {
      content: "=.,^!";
    }
  
    50% {
      content: "?2@%";
    }
  
    55% {
      content: "\;1}]";
    }
  
    60% {
      content: "?{%:%";
      right: 0;
    }
  
    65% {
      content: "|{f[4";
      right: 0;
    }
  
    70% {
      content: "{4%0%";
      right: 0;
    }
  
    75% {
      content: "'1_0<";
      right: 0;
    }
  
    80% {
      content: "{0%";
      right: 0;
    }
  
    85% {
      content: "]>'";
      right: 0;
    }
  
    90% {
      content: "4";
      right: 0;
    }
  
    95% {
      content: "2";
      right: 0;
    }
  
    100% {
      content: "";
      right: 0;
    }
  }

/* sign btn */

.image_box2 {
  max-height: 400px;
  max-width: 600px;
  min-height: 400px;
  min-width: 400px;
  width: 500px;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../assets/illustrations/loginPage.png");
  
}



@media only screen and (max-width: 700px){
  .login_sigup_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .image_box1{
    display: none;
  }
  .image_box1{
    background-position: center;
    min-height: 300px;
    min-width: 300px;
  }
  .signup_box p{
    font-size: 10px;
    font-weight: 400;
    padding: 0px;
    margin: 0px;
    width: fit-content;
  }
  .signup_box span{
    font-size: 12px;
    padding: 0px;
    margin: 0px;
  }
  .signup_box{
   display: flex;
   margin:0px;
   overflow: visible;
   background-size: contain;
  }
  .signup_box button{
    max-width: 100%;
    padding:10px;
    margin-top:-20px;
    margin-bottom: 20px;
  }
}
/* 
@media only screen and (max-width: 474px){
  .bubble-left{
    visibility: hidden;
  }

} */