.user_profile_template {
    /* ------------------------------------------------------------ */
    /* fill */
    --fill: #0000;
    --fill-hover:rgb(174, 217, 201);
    --fill-active: #04AA6D;
    /* txt */
    --txt: #000;
    /*-------------------------*/
    --br: 0.625rem;
    --gap: 0.25rem;
    --popup-main-h: 20rem;
    /* ---------------------------------------------------------- */
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 0.975rem;
    color: var(--txt);
    margin:20px 20px 20px 20px;
  }

  /* button */
  .user_profile_button {
    position: relative;
    outline: 0;
    border: 0;
    cursor: pointer;
    font-size: 15px;
    color: inherit;
    text-align: center;
    background-color: var(--fill);
    border-radius: var(--br) calc(var(--br) / 2) calc(var(--br) / 2) var(--br);
    transition: background-color 500ms;
    padding: 0px 10px 0px 10px;
  }

  .user_profile_button:hover {
     background-color: rgb(174, 217, 201);
  }

  .user_profile_button.quit:hover {
    background-color: #962434;
  }

  .user_profile_button:focus,
  .user_profile_button:active,
  .user_profile_button.active {
    background-color: var(--fill-active);
  }

  /* popup */
  .user_profile_popup {
  
  }

  .user_profile_popup-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: calc(var(--gap) * 3);
    cursor: pointer;
  }
.user_profile_main_popup_box{
    height: 100%;
    width: 100%;
    position: absolute;
    right:0;
    display: flex;
    justify-content: flex-end;
    align-items:flex-start;
    padding: 40px 20px 0px 0px;
    z-index: 999;
}
  .user_profile_popup {
    background-color: hsl(0, 0.00%, 100.00%);
    box-shadow: hsl(0, 0%, 12%) 0px 0px 0px 1px;
    transition: 0.4s;
    border-radius: 10px;
    margin-top: 15px;
    padding:10px
  }

