

/*  */


.main_view_details_container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: floralwhite;
}

.view_details_url_info{
  text-align:left;
  width: 98%;
  background: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
      padding:20px;
      box-sizing: border-box;
    font-size: medium;
}

.main_view_details_container .top-section-container > div {
  flex: 1 1 45%;
}


.main_view_details_container .table-title-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  font-family: Arial, Helvetica, sans-serif;
  width: 98%;
  border-radius: 8px 8px 8px 0px;
  margin-top: 20px;
}



/* Table */
.main_view_details_container .table-wrapper {
  background-color: floralwhite;
  font-family: Arial, Helvetica, sans-serif;
  width: 98%;
  border-radius: 8px;
  border-radius: 0px 8px 8px 8px;
  overflow-y: auto;
  color:black
}

.main_view_details_container .responsive-table {
  border-collapse:collapse;
  width: 100%;
}

.main_view_details_container td, th {
  border: 1px solid #ddd;
  color: #000;
  text-align: center;
}

.main_view_details_container tr:nth-child(even) {
  background-color: #fff;
}

.main_view_details_container tr:nth-child(odd) {
  background-color:#E3E3E3;
}

.main_view_details_container tr:hover {
  background-color: #c0bfbf;
}

.main_view_details_container th {
  padding: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1;

}

/* Custom Table Cells */
.main_view_details_container {
  word-break: break-all;
}

.main_view_details_container .short_url_class {
  width: 100px;
  font-family: monospace;
  color: #0a4;
  p{
    color:white;
  }
}

.main_view_details_container .actions_button button {
  padding: 4px 10px;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
}
.main_view_details_container  .info_button{
  background-color: #04AA6D;
}
.main_view_details_container .actions_conatiner{
  display: flex;
  gap:10px;
  justify-content: center;
}

.main_view_details_container .actions_button{
 width:40px;
}

.main_view_details_container .url_title_column{
  width: 200px;
}

.main_view_details_container .visited_column{
  width:50px;

}
.main_view_details_container .dashboard_redirectURL_container{
  width: 200px;
}

.main_view_details_container td {
padding: 15px;
text-align: center;
justify-content: center;
vertical-align: middle;
font-weight: 300;
font-size: 15px;
color: #000;
border-bottom: solid 1px rgba(255, 255, 255, 0.1);
/* overflow-x: hidden; */
text-wrap: nowrap;
text-overflow: ellipsis;
}

.main_view_details_container .table-title{
  font-family:Herculanum;
  font-size: 25px;
  text-align: start;
  margin-left: 20px;
  font-weight: 600;
  color: #fff;
}


.vd_input_container{
  margin-right: 60px;
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 200px;
  width: 200px;
}


.vd_search_box_container .input {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 40px;
  padding-left: 2.5rem;
  box-shadow: 0 0 0 1.5px #2b2c37, 0 0 25px -17px #000;
  border: 0;
  border-radius: 12px;
  background-color: #fff;
  outline: none;
  color: #000;
  transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: text;
  z-index: 0;
  padding-right: 10px;
  font-size: 14px;
}

/*  */
.vd_search_box_container .input::placeholder {
  color: #000;
}

.vd_search_box_container .input:hover {
  box-shadow: 0 0 0 2.5px #2f303d, 0px 0px 25px -15px #000;
}

.vd_search_box_container .input:active {
  transform: scale(0.95);
}

.vd_search_box_container .input:focus {
  box-shadow: 0 0 0 2.5px #2f303d;
}

.vd_search_box_container .search-icon {
  position: absolute;
  left: 1rem;
  fill: #000;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  z-index: 1;
}

/*  */

.vd_ip_column{
  width: 150px;
  min-width: 120px;
}

.vd_platform_column{
  width: 100px;

}

.vd_browser_column{
  width: 120px;
}

.vd_time_column{
  width: 100px;

}

.vd_date_column{
  width: 100px;
}

.vd_info_column{
  width: 50px;
}
