
.text {
    font-weight: bold;
    color: #333; /* Dark text color */
    font-size: 10px; /* Adjust font size */
    text-transform: uppercase; /* Make the text uppercase */
    letter-spacing: 0.5px; /* Add slight letter spacing */
    margin-right: 10px; /* Space between label and value */
  }
  
  .main_content_box p {
    font-family: 'Arial', sans-serif; /* Apply a clean font */
    color: #666; /* Gray for the non-bold text */
    line-height: 1.6; /* Nice spacing between lines */
  }
  
  .main_content_box {
    background-color: #f9f9f9; /* Light background color */
    border-radius: 8px; /* Rounded corners */
    padding: 20px; /* Padding around content */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    max-width: 600px; /* Limit the width */
    margin: 0 auto; /* Center the box */
  }
  

p{
    margin:0
}
.main_content_box{
    
    max-width: 50%;
    max-height: 50%;
    background-color: rgb(188, 223, 233);
    padding:50px;
    border-radius: 10px;
    line-height: 1.9;
    font-size: smaller;
    text-wrap:stable;
    text-align: start;
}


.button_container{
    display: flex;
    height:50px;
    justify-content:center;
    align-items: center;
    gap:10px;
}
.main_content_box{
  overflow-y: auto;
}