.main_home_container{
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.click_to_jump:hover{
    cursor: pointer;
    color:blue
}
