.main_dashboard_conatiner{
    margin-top: 50px;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
}

.generate_url_box{
    display: flex;
    flex-direction: column;
    gap:5px;
}

.list_of_all_created_url{
    width:90vw;
    height:50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:5px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

label{
    font-size: 20px;
}
table{
    text-align: center;
}

td{
    max-width: 150px;
}

.redirectURL_container{
    
    overflow:hidden;
    text-overflow: ellipsis;
}

 .navbar{
    width:100%;
    display: flex;
    justify-content: start;
    margin-left : 20%;
 }
 .navbar:hover{
    cursor: pointer;
 }